<div class="row mt-2" *ngFor="let register of registers">
  <div class="col">
    <h4>Applications</h4>
    <h5>Name: {{ register.name }}</h5>
    <p>Last Name: {{ register.lastName }}</p>
    <p>Surname: {{ register.surname }}</p>
    <p>Phone number: {{ register.phone }}</p>
    <p>Gender: {{ register.gender }}</p>
    <p>Size: {{ register.size }}</p>
    <p>Commentaries: {{ register.comment }}</p>

    <hr/>
    <a class="btn btn-secondary" [routerLink]="['/', register.id, 'register']">Edit</a>&nbsp;
    <button
      class="btn btn-danger"
      (click)="onRemove(register.id)"
      [disabled]="isRemoving"
    ><span *ngIf="!isRemoving">
      Delete
    </span>
      <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
    </button>
  </div>
</div>

