<div class="container">
  <div class="row mt-3">
    <h3>Forms of register</h3>
  </div>
  <div class="row mt-3">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               name="name"
               id="name"
               class="form-control"
               ngModel
               required
               #nameInput="ngModel"
               placeholder="Enter your name"/>
        <small *ngIf="nameInput.touched && nameInput.errors?.required" class="form-text invalid-form-text">
          Enter your name
        </small>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               name="lastName"
               id="lastName"
               class="form-control"
               ngModel
               required
               #lastInput="ngModel"
               placeholder="Enter your Last name"
        />
        <small *ngIf="lastInput.touched && lastInput.errors?.required" class="form-text invalid-form-text">
          Enter your last name
        </small>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text"
               name="surname"
               id="surname"
               class="form-control"
               ngModel
               required
               #surnameInput="ngModel"
               placeholder="Enter your Surname"
        />
        <small *ngIf="surnameInput.touched && surnameInput.errors?.required" class="form-text invalid-form-text">
          Enter your Surname
        </small>
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="phone"
               name="phone"
               id="phone"
               class="form-control"
               ngModel
               required
               #phoneInput="ngModel"
               pattern="^[+][(][0-9]{3}[)][0-9]{3}[-][0-9]{2}[-][0-9]{2}[-][0-9]{2}$"
               minlength="18"
               placeholder="+(996)xxx-yy-yy-yy"
        />
        <small *ngIf="phoneInput.touched && phoneInput.errors?.pattern" class="form-text invalid-form-text">
          Your phone number should be at least 18 characters
        </small>
        <small *ngIf="phoneInput.touched && phoneInput.errors?.required" class="form-text invalid-form-text">
          Enter your phone number
        </small>
        <small *ngIf="phoneInput.touched && phoneInput.errors?.minlength" class="form-text invalid-form-text">
          Enter your phone number
        </small>
      </div>
      <div class="form-group">

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="femaleGender"
            value="female"
            name="gender"
            ngModel
            required
            #gender="ngModel"
          />
          <label for="femaleGender" class="form-check-label">Female</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            id="maleGender"
            value="male"
            name="gender"
            ngModel
            required
          />
          <label for="maleGender" class="form-check-label">Male</label>
        </div>
        <small *ngIf="gender.touched && gender.errors?.required" class="form-text invalid-form-text">
          Select your gender
        </small>
      </div>

      <div class="form-group">
        <label for="size">Size</label>
        <select name="size" id="size" class="form-control" ngModel #select="ngModel" required>
          <option value="" selected>Select size</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
        </select>
        <small *ngIf="select.touched && select.errors?.required" class="form-text invalid-form-text">
          Select your size
        </small>
      </div>

      <div class="form-group">
        <label for="comment">Comments</label>
        <textarea name="comment" id="comment" rows="3" class="form-control" ngModel required #comment="ngModel"></textarea>
      </div>
      <small *ngIf="comment.touched && comment.errors?.required" class="form-text invalid-form-text">
        Enter your comments
      </small>
      <button
        class="btn btn-primary"
        [disabled]="f.invalid"
        routerLink="/app-register"
      >
        <span *ngIf="!isUpLoading">
          Register
        </span>
        <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>&nbsp;
      <button class="btn btn-danger" routerLink="/applications">All list of registration</button>
    </form>
  </div>
</div>

